// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'node_modules/font-awesome/scss/font-awesome';
// Bootstrap
@import 'node_modules/bulma/bulma';

@import 'node_modules/buefy/src/scss/buefy';


// custom Sass page
@import "overrides";
@import "helper";
@import "styles";